nav{
    width: 100%;
    height: 15vh;
    /* border: 1px solid red; */
    overflow-x: hidden;
    display: flex;
    justify-content: center;

    
}
.nav1{ 
    display: flex;
    height: 100%;
    width: 90%;
    justify-content: space-between;
    /* border: 1px solid red; */

}
.nav01 {
    color: #F4F4ED;  
      font-family: Recoleta;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
   height: 100%;
   width: 50%;
   display: flex;
   align-items: center;
   /* margin-left: 2%;/ */
}
.nav01 a{
    color: #F4F4ED;  

}

.nav02{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:end;
    align-items: center;
    
    
   

}

.nav021{
    color: #F4F4ED; 
       font-family: Organica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    margin-right:3%;
    
}
.nav021 a{
    color: #F4F4ED; 
}
.nav022{
   
    /* margin-right:3%; */

}
.nav022 .menubtn{  
    width: 93px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 139px;
    border: 2px solid #1E1E1E;
    background: #1E1E1E;
    color: #F4F4ED;
    font-family: Organica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: end;

}
.nav03{
    display: none;
}

@media (max-width:500px){
    .nav01{ 
        color: #F4F4ED;      
          font-family: Recoleta;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: -0.24px;
        width: 70%;
    }
    .nav02{
        display: none;
        
    }
    .nav03{
        width: 50px;
        height: 50px;
        border-radius: 139px;
        border: 2px solid #1E1E1E;
        background: #1E1E1E;
        display: block;
        margin-right: 3%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
    }   
    .menubtn{
        border-radius: 139px;
        border: 2px solid #1E1E1E;
        background: #1E1E1E;
    }
}




    
  
